.header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 890px;
  height: 90px;
  line-height: 90px;
  margin: 0 auto;
}

.header__title {
  color: #15b394;
  font-family: "Life Savers", cursive;
  font-size: 1.5em;
  margin: 0;
}

.header__title a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header__title a:hover {
  color: #15b394;
}
