* {
  box-sizing: border-box;
}

body {
  counter-reset: number 0;
  margin: 0;
  padding: 0;
  font-family: Open Sans, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  margin: 0;
}

/* header */
.header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 890px;
  height: 90px;
  line-height: 90px;
  margin: 0 auto;
}

.header__title {
  color: #15b394;
  font-family: "Life Savers", cursive;
  font-size: 1.5em;
  margin: 0;
}

.header__title a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header__title a:hover {
  color: #15b394;
}

/* nav */
.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list-item {
  color: #333;
  display: inline-block;
  margin: 0 10px;
}

.nav__list-item--logout {
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav__list-item a {
  color: inherit;
  text-decoration: none;
}

.nav__list-item--logout:hover,
.nav__list-item a:hover,
.nav__list-item .active {
  color: #15b394;
}

/* container */
.container {
  margin: 0 auto 50px;
  width: 890px;
}

/* avatar */
.avatar {
  height: auto;
  vertical-align: middle;
}

.avatar--sm {
  width: 32px;
}

.avatar--md {
  width: 128px;
}

.avatar--lg {
  width: 200px;
}

/* btn */
.btn {
  text-decoration: none;
  border: 1px solid #15b394;
  border-radius: 5px;
  color: #15b394;
  display: block;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: background 0.2s ease, color 0.2s ease;
  width: 100%;
}

.btn:hover {
  background: #15b394;
  color: #fff;
}

/* card */
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card__title {
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
  font-weight: 700;
  font-size: 1em;
  padding: 20px;
  margin: 0;
}

.card__content {
  display: flex;
  align-items: stretch;
  padding: 20px;
}

.card__avatar {
  border-right: 1px solid #ddd;
  margin-right: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

/* center */
.center {
  text-align: center;
}

/* input */
.input {
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
}

/* label */
.label {
  display: block;
}

/* radio */
.radio {
  margin-right: 0.5em;
}

/* select */
.select {
  background: #fff;
  font-size: 1em;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}

/* login form */
.login-form {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.login-form__header {
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.login-form__title {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.login-form__desc {
  margin: 0;
}

.login-form__form {
  padding: 20px;
}

/* react tabs */
.react-tabs__tab-list {
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.react-tabs__tab {
  cursor: pointer;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.react-tabs__tab:first-child {
  border-right: 1px solid #ddd;
}

.react-tabs__tab--selected {
  background: #f4f4f4;
  color: #15b394;
}

.react-tabs__tab-panel--selected {
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  padding: 20px 20px 0;
}


/* question */
.question {
  width: 100%;
}

.question__title {
  font-weight: 700;
  margin: 0;
}

.question__excerpt {
  color: #666;
}

/* new question */
.new-question {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.new-question__title {
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  text-align: center;
}

.new-question__form {
  padding: 0 20px 20px;
}

.new-question p {
  font-weight: 700;
}

.new-question hr {
  background: #ddd;
  border: 0;
  font-size: 1em;
  height: 1px;
  text-align: center;
  margin: 20px 0;
  overflow: visible;
  position: relative;
}

.new-question hr::after {
  background: #fff;
  content: "OR";
  width: 2em;
  height: 1em;
  line-height: 1;
  padding: 0 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.new-question__btn {
  display: block;
  margin: 20px auto 0;
  width: 50%;
}

/* score card */
.score-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.score-card::before {
  content: "";
  border-style: solid;
  border-color: #f4f4f4 transparent transparent transparent;
  border-width: 50px 50px 0 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.score-card::after {
  counter-increment: number 1;
  content: counter(number);
  color: #333;
  padding: 2.5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.score-card__col:not(:last-child) {
  border-right: 1px solid #ddd;
  margin-right: 20px;
  padding-right: 20px;
}

.score-card__col:nth-child(2) {
  flex: 1;
}

.score-card__avatar {
  display: flex;
  align-items: center;
}

.score-card__name {
  display: block;
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.score-card__table {
  border-collapse: collapse;
  width: 100%;
}

.score-card__table th,
.score-card__table td {
  padding: 10px 0;
}

.score-card__table tr:first-child th,
.score-card__table tr:first-child td {
  border-bottom: 1px solid #ddd;
}

.score-card__table th {
  text-align: left;
  font-weight: 400;
}

.score-card__table td {
  text-align: center;
}

/* score */
.score {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0;
  overflow: hidden;
}

.score__title {
  background: #f4f4f4;
  padding: 15px 30px;
  text-align: center;
}

.score__data {
  background: #15b394;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  margin: 15px 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* poll form */
.poll-form {
  width: 100%;
}

.poll-form__title {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 0 1em;
}

.poll-form label {
  display: block;
  margin-bottom: 1em;
}

/* result */
.result {
  width: 100%;
}

.result__title {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 0 0.5em;
}

.result__option:first-of-type {
  margin-bottom: 20px;
}

/* option */
.option {
  background: #f5f5f5;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 20px 40px;
}

.option--selected {
  background: #fbefd0;
  border-color: #f2cd73;
}

.option p {
  font-weight: 700;
  margin: 0;
}

/* chart */
.chart {
  background: #ccc;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: right;
  margin: 10px 0;
}

.chart__bar {
  background: #15b394;
  border-radius: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.chart__text {
  padding: 0 10px;
  position: absolute;
  transform: translateX(-100%);
}

/* logo */
.logo {
  text-align: center;
}

.logo img {
  width: 256px;
  height: auto;
}
